# Flask & extensions
flask
flask-wtf
werkzeug

# File parsing
python-docx
python-pptx
openpyxl
markdown
PyMuPDF

# Report generation
reportlab

# Async/Threading
concurrent-log-handler

# Jupyter/IPYNB support
nbconvert
pyppeteer

webpdf

matplotlib
jupyterlab

"nbconvert[webpdf]"
